<head>
<style>
	
  	h1 {
  	text-align: center;
  	border-bottom: 1px solid black
  	}
	
  	p {
  	text-align: center;
  	}
  	
	div {
  	text-align: center;
  	}
   	
  	input[type="submit"]{
    background-color:#fffff;
    border-radius: 5px;
   	border: none;
  	}
  	
 	div[class = "parent"] {
    border: 3px solid #fff;
    padding: 20px;
	}

	div[class = "child"] {
    width: 40%;
    float: left;
    padding: 20px;
    border: 2px solid red;
	}  
  
  
  
</style>

	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="description" content={{description}}>
	<link rel="shortcut icon" href="/favicon.ico">
	
</head>

<body>
	<h1>
      Our title page
  </h1>
  <div>
    <div class="parent">

  <div class="child">
    <div class="green">Float Column 1</div>
  </div>
  
  <div class="child">
    <div class="blue">Float Column 2</div>
  </div>
  
</div>
  </div>
  
  
  
</body>