{% extends 'layout.html' %}

{% block content %}
<h1>
    Wine and Cheese Pairing Generator
</h1>
  
<p>
Enter your birthday to get a wine and cheese pairing </p>
	
<div class="formwrapper">
	<form method="POST" action="/results">
		<input type="date" name="date">
		<input type="submit" value="Recommend" name="recommend">
	</form>
</div>
</br></br>
<div>
	<h4> Joey Bentivegna, Daniel Zuerbig </h4>
	<p> We have created a wine and cheese pairing generator based on your horoscope.
	</br> This is our submission for final project of ECE 464 Databases at The Cooper Union</p>


</div>


{% endblock %}

